*{
    margin: 0%;
    padding: 0%;
}

body{
    background-color: rgba(252, 200, 78, 0.62);
}
.titulo{
    font-size: 60px;
}
.texto{
    font-size: 25px;
    margin-right: 4cm;
}
.destacar_verde{
    margin-left: 1cm;
    margin-right: 10cm;
    background-color: rgb(0, 108, 0);
    color: rgb(251, 215, 160);
    font-size: 25px;
}
.destacar_vermelho{
    background-color: rgba(231, 17, 17, 0.827);
    color: white;
    font-size: 30px;
    margin: auto;
}
.fotos_abertura{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.fotos_abertura_tamanho{
    width: 13%;
}
.Fotos_rodape_tamanho{
    width: 10%
}
.foto_profGuilherme{
    width: 17%;
}
.apresentação{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.foto_Prof.Beraldi{
    width: 3%;
}
.links{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.rodape{
    color: white;
    background-color: black;
}